html {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: auto auto;
}


body {
    background: #999999;
    width: 20vw;
}

img {
    height: 35vh;
    width: 18vw;
    border-radius: 50%;
}

#links img {  
  padding: 10px;  
  border-radius: 50%;
  height: 75px;
  width: 5vw;
}  


/* Create media query */

@media only screen and (max-width: 1024px) {

}
